{
  "presets": [["@babel/env"]],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": ["@babel/plugin-proposal-object-rest-spread", "istanbul"]
    }
  }
}
